@import '../../styles/vars';
@import '../../styles/mixins';

.ideas {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .idea {
    width: 300px;
    height: 300px;
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .idea {
      // margin-top: 20px;
    }

    .ideaLink {
      @include link;
    }
  }
}
